In [1]:
import pandas as pd

### Load datasets

In [2]:
df_lea_tract = pd.read_csv("../data/lea_tract.csv")

In [3]:
df_lea_tract.head()

    LEAID                        NAME_LEA19       TRACT
0  100001  Fort Rucker School District (AL)  1031010300
1  100001  Fort Rucker School District (AL)  1045020000
2  100003  Maxwell AFB School District (AL)  1101000900
3  100003  Maxwell AFB School District (AL)  1101001000
4  100003  Maxwell AFB School District (AL)  1101006000

#### Centers of Population by Census Tract

https://www.census.gov/geographies/reference-files/2010/geo/2010-centers-population.html

In [4]:
df_tx_pop = pd.read_csv("../data/CenPop2010_Mean_TR48")

In [5]:
df_tx_pop.head()

   STATEFP  COUNTYFP  TRACTCE  POPULATION   LATITUDE  LONGITUDE
0       48         1   950100        4685  31.999364 -95.531821
1       48         1   950401        5422  31.755614 -95.823901
2       48         1   950402        7535  31.784637 -95.902841
3       48         1   950500        4377  31.776938 -95.631712
4       48         1   950600        6405  31.747594 -95.666055

In [ ]:
# create tract_only column in df_lea_tract

df_lea_tract